<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>普通form上传</h1>
    <form action="/index" method="post">
        <input name="favor" type="checkbox" value="1">篮球
        <input name="favor" type="checkbox" value="2">足球
        <input name="favor" type="checkbox" value="3">网球
        <input name="xb" type="radio" value="12">男士
        <input name="xb" type="radio" value="22">女士
        <p>
            <select name="sel">
                <option value="kd">肯德基</option>
                <option value="md">麦当劳</option>
                <option value="ps">披萨</option>
            </select>
        </p>
        <p>
            <input name="name" type="text">姓名
        </p>

        <input type="submit" value="提交">

    </form>


</body>
</html>