<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ifram隐藏</title>
    <style>
        .hide{
            display: none;
        }
    </style>
</head>
<body>
    <ul>
        {% for item in img_list %}
        <li><img style="height: 80px;width: 100px" src="/static/img/{{item}}" ></li>
        {% end %}
        <li><img src="{{static_url('img/图示.png')}}"></li>
    </ul>
    <form id="my_form" name="form" action="/file" method="POST"  enctype="multipart/form-data" >
        <div id="main">
            <input name="img" id="my_file"  type="file" />
            <input type="button" name="action" value="Upload" onclick="redirect()"/>
            <iframe id='my_iframe' name='my_iframe' src=""  class="hide"></iframe>
            <!--ifram作为一个通道，后台提交-->
        </div>
    </form>

    <script>
        function redirect(){
//            document.getElementById('my_iframe').onload = Testt;//ifram载入完成之后执行这个函数
            document.getElementById('my_form').target = 'my_iframe';//form提交的位置是ifram
            document.getElementById('my_form').submit();//提交

        }

//        function Testt(ths){
//            var t = $("#my_iframe").contents().find("body").text();
//            console.log(t);
//        }
    </script>
</body>
</html>