<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
<nav id="navbar" class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="nav-container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
                <li>UI Kits</li>
                <li class="active">Theming</li>
            </ol>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="/renzheng">未认证</a>

            </li>
            <li class="dropdown profile">
                <a href="#">Emily
                    Hart </a>
            </li>
            <li class="dropdown">
                <a href="#"><i
                        class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </div>
</nav>
<div class="left-menu">
    <div class="menu-header">
        <a class="brand" href="#">
            <div class="header-icon icon fa fa-paper-plane"></div>
            <div class="header-title">商务链</div>
        </a>
    </div>
    <ul class="menu-item">
        <li>
            <a href="/index">
                <span class="icon fa fa-life-ring"></span><span class="li-title">首页</span>
            </a>
        </li>
        <li>
            <a href="/company">
                <span class="icon fa fa-cubes"></span><span class="li-title">企业信息</span>
            </a>
        </li>
        <li class="active">
            <a href="/product">
                <span class="icon fa fa-users"></span><span class="li-title">产品信息</span>
            </a>
        </li>
         <li>
            <a href="/group">
                <span class="icon fa fa-life-ring"></span><span class="li-title">人员</span>
            </a>
        </li>

    </ul>
</div>
<div id="main_content" class="container-fluid">
    <div class="side-body">
        <h1>首页</h1>
    </div>

</div>
<script>
    $(document).ready(function () {
        $(".navbar-expand-toggle").bind('click', function () {
            $("#navbar").toggleClass('navbar-expand');
            $(".left-menu").toggleClass('left-menu-expand');
            $(this).toggleClass('toggle-90');
            $('.side-body').toggleClass('side-body-expand')

        });
    });

</script>



</body>
</html>