<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link href="/statics/css/bootstrap.css" rel="stylesheet">
    <link href="/statics/css/font-awesome.min.css" rel="stylesheet">
    <link href="/statics/css/style.css" rel="stylesheet">
    <script src="/statics/js/jquery-3.2.1.min.js"></script>
    <script src="/statics/js/bootstrap.js"></script>
</head>
<body>
<nav id="navbar" class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="nav-container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
                <li>UI Kits</li>
                <li class="active">Theming</li>
            </ol>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="/renzheng">未认证</a>

            </li>
            <li class="dropdown profile">
                <a href="#">Emily
                    Hart </a>
            </li>
            <li class="dropdown">
                <a href="#"><i
                        class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </div>
</nav>
<div class="left-menu">
    <div class="menu-header" onclick="show('/renzheng');">
        <a class="brand" href="#">
            <div class="header-icon icon fa fa-paper-plane"></div>
            <div class="header-title">商务链</div>
        </a>
    </div>
    <ul class="menu-item">
        <li>
            <a href="/index">
                <span class="icon fa fa-life-ring"></span><span class="li-title">首页</span>
            </a>
        </li>
        <li>
            <a href="/company">
                <span class="icon fa fa-cubes"></span><span class="li-title">企业信息</span>
            </a>
        </li>
        <li class="active">
            <a href="/product">
                <span class="icon fa fa-users"></span><span class="li-title">产品信息</span>
            </a>
        </li>
         <li>
            <a href="/group">
                <span class="icon fa fa-life-ring"></span><span class="li-title">人员</span>
            </a>
        </li>

    </ul>
</div>
<div id="main_content" class="container-fluid">
    <div class="side-body">
        <div class="page-title">
            <span class="title">产品信息</span>
        </div>
        <div style="margin-left: 0" class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header clearfix">
                        <div class="card-title">
                            <div class="title">产品/服务</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <label style="font-weight: normal"
                               class="col-sm-12">发布企业能为客户提供的产品及服务，客户可以直接找到该产品/服务的对外联系人</label>
                        <div class="product-box col-sm-12">
                            <div class="product" name="swl-1">
                                <img class="product-img" src="/statics/er.jpg">
                                <button class="edit btn btn-primary hide">编辑</button>
                                <div class="product-title">商务链</div>
                            </div>
                            <div class="product" name="swl-2">
                            <img class="product-img" src="/statics/er.jpg">
                            <button class="edit btn btn-primary hide">编辑</button>
                            <div class="product-title">商务链</div>
                            </div>
                            <!--<div class="product">-->
                            <!--<img class="product-img" srstaticssatic/er.jpg">-->
                            <!--<button class="edit btn btn-primary hide">编辑</button>-->
                            <!--<div class="product-title">商务链</div>-->
                            <!--</div>-->
                            <!--<div class="product">-->
                            <!--<img class="product-img" srstaticssatic/er.jpg">-->
                            <!--<button class="edit btn btn-primary hide">编辑</button>-->
                            <!--<div class="product-title">商务链</div>-->
                            <!--</div>-->
                            <!--<div class="product ">-->
                            <!--<img class="product-img" srstaticssatic/er.jpg">-->
                            <!--<button class="edit btn btn-primary hide">编辑</button>-->
                            <!--<div class="product-title">商务链</div>-->
                            <!--</div>-->
                            <!--<div class="product ">-->
                            <!--<img class="product-img" srstaticssatic/er.jpg">-->
                            <!--<button class="edit btn btn-primary hide">编辑</button>-->
                            <!--<div class="product-title">商务链</div>-->
                            <!--</div>-->
                            <!--<div class="product ">-->
                            <!--<img class="product-img" srstaticssatic/er.jpg">-->
                            <!--<button class="edit btn btn-primary hide">编辑</button>-->
                            <!--<div class="product-title">商务链</div>-->
                            <!--</div>-->

                        </div>
                        <div class="col-sm-12">
                            <div class="add">
                                <i style="color: #d5d5d5" class="fa fa-plus fa-2x"></i>
                            </div>

                        </div>


                    </div>

                </div>

            </div>


        </div>

    </div>


</div>
<script>
    $(document).ready(function () {
        $(".navbar-expand-toggle").bind('click', function () {
            $("#navbar").toggleClass('navbar-expand');
            $(".left-menu").toggleClass('left-menu-expand');
            $(this).toggleClass('toggle-90');
            $('.side-body').toggleClass('side-body-expand')

        });
    });

    $('.product').bind('mouseenter', function () {
        $('.edit').removeClass('hide').click(function () {
            var name = $(this).parent('.product')[0].getAttribute('name');
            $("#main_content").empty();
            $.ajax({
                type: 'POST',
                url: '/edit-product',
                data:{'name':name},
                dataType: 'html',
                success: function (data) {
                    $("#main_content").html(data);
                }
            })
        })
    })
    $('.product').bind('mouseleave', function () {
        $('.edit').addClass('hide')
    })


</script>


</body>
</html>