<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{static_url('jquery-3.2.1.min.js')}}"></script>
    <script src="{{static_url('jquery.cookie.js')}}"></script>
</head>
<body>
<h1>cookie练习</h1>
<script>
    // javascripts方式 在浏览器设置cookie
    function setCookieBySeconds(name,value,expires) {
        var current_date = new Date();//获取当前时间
　　　//current_date.getSeconds() 获取当前秒，设置一个新的时间，向后推了几秒钟
        current_date.setDate(current_date.getSeconds() + expires);
        document.cookie = name + "= " +value +";expires=" + current_date.toUTCString()

    }
    function setCookieByDays(name,value,expires) {
        var current_date = new Date();
        current_date.setDate(current_date.getDay() + expires);
        document.cookie = name +"= " +value +";expires="+current_date.toUTCString() // 要转换为utc时间

    }
    // 调用
    // setCookieBySeconds('k1','v1',5) // 5秒过期
    // setCookieByDays('k1','v1',5) // 5天过期

    //###################jQuery设置###################
//    $.cookie('k1','v1',{expires:7}); // 7天 设置k1=v1的cookie7天过期
//    //如果不是按天的话,需要先定义时间秒变量
//    var  current_date = new Date();
//    current_date.setDate(current_date.getSeconds() + 6) ; //当前时间+6s
//    $.cookie('k1',"v1",{expires:current_date}) //6s 后过期
</script>
</body>
</html>