<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/statics/index.css">
    <title>易维客</title>

</head>
<body>
<div>
    <img class="bgtop" src="statics/bg.png">
</div>
<form>
    <div class="inp-box">
        <div class="inp-title">信息填写</div>
        <div class="inp-content">
            <input type="text" placeholder="姓名">
            <input type="text" placeholder="区域">
            <input type="number" placeholder="电话">
            <button class="btn">立即提交</button>
        </div>

    </div>
</form>
<div class="footer">
    <span class="phone">
         <a id="bsmlStyle_comp_42" href="tel:18530983738" target="_blank"
            data-click="{&quot;action_id&quot;:&quot;site_bar_click&quot;,&quot;action_name&quot;:&quot;转化组件点击&quot;,&quot;type&quot;:&quot;tel&quot;}"
            style="display: block;">
        <div id="bsmlStyle_comp_43">电话咨询</div>
    </a>
    </span>

</div>
</body>
</html>