<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>结算贷线上管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <link href="/statics/css/bootstrap.min.css" rel="stylesheet">
    <link href="/statics/css/login.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="/statics/js/respond.min.js"></script>
        <script src="/statics/js/html5shiv.min.js"></script>
    <![endif]-->
    <script src="/statics/js/jquery.min.js"></script>
    <script src="/statics/js/bootstrap.min.js"></script>
    <script src="/statics/js/jquery.placeholder.min.js"></script>

</head>
<body>

<div class="main col-sm-12">
    <div class="title">
        <h1>
            结算贷线上管理系统
        </h1>
    </div>
    <div class="login-box">
        <div class="login-title">
            <span>登 录</span>
        </div>
        <div class="login-container">
            <div class="input-prepend user">
                <input placeholder="用户名" type="text" name="user">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="input-prepend pwd">
                <input placeholder="密码" type="password" name="pwd">
                <span class="glyphicon glyphicon-lock"></span>
            </div>
            <div class="forget-btn">
                <a class="" href=""></a>
            </div>
            <input onclick="login();" type="submit" value="登录" class="sign-in-button" data-disable-with="登录">
            <div class="alert alert-danger hide" role="alert">用户密码错误</div>
        </div>


    </div>

</div>
<script>

    function login() {
        var user = $('input[name=user]').val();
        var pwd = $('input[name=pwd]').val();
        $('.alert-danger').addClass('hide');
        $.ajax({
            url: '/login',
            type: "POST",
            data: {user: user, pwd: pwd},
            dataType: 'json',
            success: function (args) {
                if (args.status) {
                    window.location.href = '/manager';
                }
                else if (args.message.user) {
                    $('.alert-danger').removeClass('hide').text(args.message.user)
                }
                else if (args.message.pwd) {
                    $('.alert-danger').removeClass('hide').text(args.message.pwd)
                }
            }
        });
    }

    document.onkeydown = function (e) {
        var ev = document.all ? window.event : e;
        if (ev.keyCode == 13) {
            login();
        }
    };
    $(function () {
        // Invoke the plugin
        $('input, textarea').placeholder();
    });


</script>
</body>
</html>