<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="pg-header">
        <div class="head-contend">
            <a href="/" class="logo"></a>
            <ul class="nav">
                <li><a href="http://www.baidu.com">全部</a></li>
                <li><a href="http://www.baidu.com">42区</a></li>
                <li><a href="http://www.baidu.com">段子</a></li>
                <li><a href="http://www.baidu.com">图片</a></li>
                <li><a href="http://www.baidu.com">挨踢1024</a></li>
                <li><a href="http://www.baidu.com">你问我答</a></li>
            </ul>
            <ul class="nav_right">
                <li><a class="reg" href="http://www.baidu.com">注册</a></li>
                <li><a class="log" href="http://www.baidu.com">登陆</a></li>
                <li class="search-body">
                    <input class="search-iput" type="text">
                    <a class="search-icon">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>

        </div>


    </div>
    <div class="pg-body clearfix">
        <div class="body-left">
            <div class="body-left-header clearfix">
                <ul class="body-left-header-menu">
                    <li><a href="#">最热</a></li>
                    <li><a href="#">发现</a></li>
                    <li><a href="#">人类发布</a></li>
                </ul>
                <a href="#"><button class="fabu">+ 发布</button></a>
            </div>
            <div class="body-left-news hide">1条如热榜，点击查看</div>
            <div class="body-left-content">
                <div class="item clearfix">
                    <div class="content-pic"><img src="../static/1.jpg"></div>
                    <div class="news-content">
                        <div class="content-title"><a href="https://wallstreetcn.com/articles/314213" target="_blank">万科重生：深铁会比华润更积极 因为深铁想从万科得到更多</a>&nbsp;&nbsp;<span>-wallstreetcn.com 42区</span></div>
                        <div class="content-text">马拉多纳在1986年世界杯夺冠归国后对总统阿尔方辛说，“这次比那次(1978)更有价值，因为我们代表的是一个民主国家。”</div>

                        <div class="content-footer"></div>
                    </div>

                </div>
                <div class="item clearfix">
                    <div class="content-pic"><img src="../static/2.jpg"></div>
                    <div class="news-content">
                        <div class="content-title"><a href="https://wallstreetcn.com/articles/314213" target="_blank">重庆最能聊的哥第二弹:温柔小刹车】那个最会聊的重庆司机又来了！上次吐槽导航，这次跟大家分享了踩刹车的心得。被人称“温柔小刹车”，师傅表示，有的司机踩的不是刹车，是杀父仇人。</a>&nbsp;&nbsp;<span>-www.miaopai.com 42区</span></div>
                        <div class="content-text">特朗普内部的政治斗争在过去几个月从未停息。现在，以美国财长姆努钦为代表的高盛系，和白宫首席策略师班农为代表的民粹右翼，在税改方案面前的矛盾再次浮出水面。在一周前班农声称要让美国富人税率上“4字头”后，美国财长姆努钦今日接受媒体采访称，...</div>

                        <div class="content-footer"></div>
                    </div>


                </div>


            </div>
        </div>
        <div class="body-right">aaa</div>
    </div>
    <div class="pg-footer"></div>
</body>
</html>