<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="pg-header">
        <div class="head-contend">
            <a href="/" class="logo"></a>
            <ul class="nav">
                <li><a href="http://www.baidu.com">全部</a></li>
                <li><a href="http://www.baidu.com">42区</a></li>
                <li><a href="http://www.baidu.com">段子</a></li>
                <li><a href="http://www.baidu.com">图片</a></li>
                <li><a href="http://www.baidu.com">挨踢1024</a></li>
                <li><a href="http://www.baidu.com">你问我答</a></li>
            </ul>
            <ul class="nav_right">
                <li><a class="reg" href="http://www.baidu.com">注册</a></li>
                <li><a class="log" href="http://www.baidu.com">登陆</a></li>
                <li class="search-body">
                    <input class="search-iput" type="text">
                    <a class="search-icon">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>

        </div>


    </div>
    <div class="pg-body clearfix">
        <div class="body-left">
            <div class="body-left-header clearfix">
                <ul class="body-left-header-menu">
                    <li><a href="#">最热</a></li>
                    <li><a href="#">发现</a></li>
                    <li><a href="#">人类发布</a></li>
                </ul>
                <a href="#"><button class="fabu">+ 发布</button></a>
            </div>
            <div class="body-left-news">aa</div>
            <div class="body-left-content">
                <div class="content-text">
                    <div class="content"></div>
                    <div class="content-footer"></div>
                </div>
                <div class="content-pic"></div>
            </div>
        </div>
        <div class="body-right">aaa</div>
    </div>
    <div class="pg-footer"></div>
</body>
</html>