<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>郑州浩方科贸有限公司</title>
    <link rel="stylesheet" href="/statics/weui.css">
    <link rel="stylesheet" href="/statics/main.css">
    <script src="/statics/jquery-2.1.4.min.js"></script>
</head>
<style>
    .com-name {

        /*line-height: 130px;*/
        padding-top: 45px;

    }

    .company-card {
        height: 100%;
    }
</style>
<body>
<div class="company-card">
    <div class="card-top">
        <div class="logo-box">
        <img class="com-logo" src="/statics/logo.jpg">
        </div>
        <div class="com-name">
            郑州浩方科贸有限公司
        </div>
        <!--<div class="com-show">-->
        <!--<span class="eng-number">工程师：20人</span>-->
        <!--<span class="ser-time">预计上门时间：30分钟</span>-->
        <!--</div>-->
        <div class="show-icon hide" id="show-icon">
            <img class="show-com" src="/statics/show.png">
        </div>
    </div>

    <div class="com-container">
        <div class="introduce">
            <div class="in-title">公司介绍</div>
            <p class="in-text">如果你无法简洁的表达你的想法，那只说明你还不够了解它。
                -- 阿尔伯特·爱因斯坦</p>

        </div>
        <div class="services">
            <div class="ser-title">服务范围</div>
            <p class="ser-text">如果你无法简洁的表达你的想法，那只说明你还不够了解它。
                -- 阿尔伯特·爱因斯坦</p>
        </div>

    </div>
    <div class="hide-icon hide" id="hide-icon">
        <img class="hide-com" src="/statics/hide.png">
    </div>


</div>

</body>
</html>