<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>郑州浩方科贸有限公司</title>
    <link rel="stylesheet" href="/statics/weui.css">
    <link rel="stylesheet" href="/statics/orderdetail.css">
    <script src="/statics/jquery-2.1.4.min.js"></script>

</head>
<body>

<div class="c-tetail tetail-message">
    <div class="tetail-top" id="loadDetail">
        <ul>
            <li class="tetail-active">
                <div class="line"></div>
                <p><span><img style="width:1.6rem" src="/statics/progress_on.png">			</span>
                </p>
                <p>提交预约</p>
                <div class="time"> 2017-09-08 10:04:24</div>
            </li>
            <li class="tetail-active">
                <div class="line"></div>
                <p><span><img style="width:1.6rem" src="/statics/progress_on.png">			</span>
                </p>
                <p>工单受理</p>
                <div class="time"> 2017-09-08 10:04:24</div>
            </li>
            <li class="tetail-active">
                <div class="line"></div>
                <p><span><img style="width:1.6rem" src="/statics/progress_on.png">			</span>
                </p>
                <p>服务完成</p>
                <div class="time"> 2017-09-08 11:13:46</div>
            </li>
        </ul>
    </div>
    <div id="orderDetail">
        <div class="dd-reserve">
            <div class="dd-reserve-top"><p class="orderNub">工单号: 10002</p>
                <p>维修 <span>服务中</span></p>
                <p style="color: #868686;font-size: 1.1rem;margin-top: 0.5rem">安装维修详情</p></div>
        </div>
        <div class="dd-time"><p> 创建时间：2017-09-05 13:00 </p>
            <p>地点：河南省郑州市金水区文化路街道正弘·蓝堡湾一期正弘蓝堡湾1期 </p>
            <p>服务人员：崔建新</p>
            <p>电话：18530983738</p>
            </div>
        <div class="dd-remark"><p style="border-bottom: 1px solid #E3E3E3">工单总结：这是详细描述</p></div>
    </div>
</div>

</body>
</html>