<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>商户服务</title>
    <link rel="stylesheet" type="text/css" href="/statics/css/swipeslider.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/style.css">
    <script src="/statics/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/statics/js/swipeslider.js"></script>


</head>
<body>
<figure id="full_feature" class="swipslider">
    <ul class="sw-slides">
        <li class="sw-slide">
            <img src="/statics/img/summer_beach.jpg" alt="Summer beach concept">
        </li>
        <li class="sw-slide">
            <img src="/statics/img/lang_yie_ar_kung_fu.jpg" alt="Lang from Yie Ar Kung Fu">
        </li>

    </ul>
</figure>
<div class="page-top">
    <div class="base-info">
        <div class="box-hd">
            <img class="box-img"
                 src="/statics/img/user.png"
                 alt="">
        </div>
        <div class="box-bd">
            <h4 class="box-title">郑州浩方科贸有限公司</h4>
            <p class="box-desc">18530983738</p>
        </div>
    </div>
    <a href="/show" class="score">
        220积分>
    </a>
</div>
<div class="content-box">
    <div class="title">
        <span>热门活动</span>
    </div>
    <div class="show-content">
        <div onclick="window.location.href='/jfjs'" class="content one">
            <div class="base-info">
                <div class="box-bd">
                    <h4 class="box-title">积分竞赛</h4>
                    <p class="box-desc">积分排名赢大奖</p>
                </div>
                <div class="box-hd">
                    <img class="box-img"
                         src="/statics/img/user.png"
                         alt="">
                </div>
            </div>
        </div>
        <div class="content two">
            <div class="base-info">
                <div class="box-bd">
                    <h4 class="box-title">幸运抽奖</h4>
                    <p class="box-desc">话费充值免费拿</p>
                </div>
                <div class="box-hd">
                    <img class="box-img"
                         src="/statics/img/user.png"
                         alt="">
                </div>
            </div>
        </div>
        <div class="content three">
            <div class="base-info">
                <div class="box-bd">
                    <h4 class="box-title">风采展示</h4>
                    <p class="box-desc">活跃商户展示</p>
                </div>
                <div class="box-hd">
                    <img class="box-img"
                         src="/statics/img/user.png"
                         alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-box">
    <div class="title">
        <span>服务帮助</span>
    </div>
    <div class="show-content">
        <div class="content bot1">
            <div class="ser">
                常见问题
            </div>
        </div>
        <div class="content bot">
            <div class="ser">
                联系我们
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(window).load(function () {
            $('#full_feature').swipeslider();
        }
    )


</script>
</body>
</html>