<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/css.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="pg-header">
        <div class="head-contend">
            <a href="/" class="logo"></a>
            <ul class="nav">
                <li><a href="http://www.baidu.com">全部</a></li>
                <li><a href="http://www.baidu.com">42区</a></li>
                <li><a href="http://www.baidu.com">段子</a></li>
                <li><a href="http://www.baidu.com">图片</a></li>
                <li><a href="http://www.baidu.com">挨踢1024</a></li>
                <li><a href="http://www.baidu.com">你问我答</a></li>
            </ul>

        </div>


    </div>
    <div class="pg-body"></div>
    <div class="pg-footer"></div>
</body>
</html>